*{
    margin:0;
    padding:0;
}

body{
    font-family:sans-serif;
}
.marginleft{
    margin-left: auto;
    
}
#nav-bar{
    position: sticky;
    z-index: 10px;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0;
}
.navbar-brand img{
  height:40px;
  padding-left:20px
}
.navbar-nav li {
   
    padding:0 10px;
}
.navbar-nav li a{
   
    color:white;
    font-weight: 600;
    float:right;
    text-align: center;
}
.navbar-toggler {
    color: #fff;
}
#banner{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color:white;
    padding-top: 5%;

}
.homeimage{
    width:500px;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:100px;
}
.playimage{
    width:40px;
    margin-right: 5px;
}
a{
    text-decoration: none;
}
.txt-color{
    color:white;
}
.bottom-img{
    width:100%;
}
#services{
    padding: 80px 0;
}
.service-img{
    width:100px;
    margin-top: 20px;
}
.services{
    padding:20px;
}
.services h4{
    padding:5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title{
    text-align: center;

}
.title::before{
    content: '';
    background: #7b1798;
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform:translateY(63px);
}
.buttonn{
    margin-left: auto;
    margin-right: auto;
}
.butn .btn-primary{
    box-shadow: none;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    border-radius: 20px;
    padding: 8px 25px;

}


#about-us{
    background: #f6f8f9;
    padding-bottom: 50px;
    padding-top:50px;
    
}
.margintop{
    margin-top: 40px;
    margin-bottom: 120px;
}
.about-title{
 font-size: 35px;
}
#about-us ul li{
    margin:10px 0;
    
     
}
#about-us ul p{
    margin-left: 20px;
}
#testimonials{
    margin-top:30px;
    
}
.imagetest{
    width:150px;

}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height:60px;
    width:60px;
    border-radius:50%;
    margin:0 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}
#social-media{
    
    background-color:#f6f8f9; 
    padding:100px 0;
}
#social-media p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icon img{
    width:60px;
    transition: 0.5s;
}
.social-icon a:hover img{
    transform:translateY(-10px);
}
footer{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;
    color:white;
}
.footer-img{
    width:100%;
}
.footer-box{
    padding:20px;
}
.footer-box img{
    width:120px;
    margin-bottom: 20px;
}